PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/moneta_db?retryWrites=true&w=majority
CLIENT_URL=http://localhost:3000

# For production, set the deployed client origin, e.g.:
# CLIENT_URL=https://moneta-topaz.vercel.app

# Better Auth Secret (can be generated with openssl rand -hex 32)
BETTER_AUTH_SECRET=your_better_auth_secret_key_here
BETTER_AUTH_URL=http://localhost:5000
